<form action="/customer/update/<%= customer.id %>" method="POST">
	<h2>Update Customer</h2>
	<input value="<%= customer.name %>" type="text" placeholder="Name" name="name"><br><br>
	<input value="<%= customer.email %>" type="email" placeholder="Email" name="email"><br><br>
	<input value="<%= customer.state %>" type="text" placeholder="State" name="state"><br><hr>
	<input type="submit" value="Create Customer">
</form>